body {
	// keep bottom of footer skew hidden
	margin-bottom: -200px;
}

// BACKGROUND IMAGE 
.site-bg {	    
	background: 
    /* top, transparent red, faked with gradient */ 
    linear-gradient(rgba(237, 242, 172, 0.25), 
    rgba(0, 224, 205, 0.35)),  
    /* bottom image bg */
    url("../images/cwm-bg.jpg");
    background-size: cover;
    position: relative;
    background-repeat: none;
    top: 0;
    left: 0;
    height: 109vh;
    width: 100%;
    background-position: center top;
    transform: skewY(3deg);
	transform-origin: 100% 0;
}

@media (min-width: 769px) {
	.site-bg {
		background: 
		linear-gradient(rgba(237, 242, 172, 0.25), 
        rgba(0, 224, 205, 0.35)), 
		url('../images/cwm-bg-desktop.jpg');
	    background-size: cover;
	    position: relative;
	    background-repeat: none;
	    top: 0;
	    left: 0;
	    height: 80vh;
	    width: 100%;
	    background-position: center top;
	}
}



// COLORS
$about-font-gray: #747474;
$primary-font-light: #F1F3F2;
$primary-font-gray-light: #EBEBEB;
$primary-font-gray: #CFCFCF;
$primary-font-gray-dark: #5C5758;
$seafoam-highlight: #98F0E2;
$yellow-highlight: #FBFF8A;




// FONT SETTINGS
a {
	-ms-transition:.5s;
	-moz-transition:.5s;
	-webkit-transition:.5s;
	transition:.5s;
}
h1, h2, h3, h4, h5, p, a {
	font-family: 'Montserrat', sans-serif;
	color: #000;
	text-align: center;
}
	
h1 {
	text-transform: lowercase;
	margin: 0;
	font-weight: 500;
	letter-spacing: -3px;
	line-height: 1;
	font-size: 40px;
}

h2, h3 {	
	font-weight: 700;
	text-align: center;
}

h2 {
	letter-spacing: -2px;
	text-transform: uppercase;
	margin-top: 0;
	margin-bottom: 0;
}

h3 {
	text-transform: lowercase;
	letter-spacing: -1px;
	color: $primary-font-gray;
	font-size: 28px;
}

p {
	font-family: 'Montserrat Alternates', sans-serif;
	text-align: left;
}

@media (min-width: 768px) {
	p {
		font-size: 18px;
	}
}

a:hover, a:focus, a:active {
	color: $seafoam-highlight;
    text-decoration: none;
}

.spacer {
	padding-bottom: 10px;
}







