// HEADER 
.burger {
	color: #fff;
}

.hero {
	position: absolute;
    bottom: 20%;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
	h1, h3 {
		color: $primary-font-light;
		letter-spacing: -2px;
    	text-shadow: 0px 1px 2px #000;
	}
	h1 {
		font-size: 37px;
	}
	h3 {
		font-size: 13px;
		font-family: 'Montserrat Alternates', sans-serif;
		letter-spacing: -1px;
		font-weight: 400;
		padding: 0 41px;
	}
}

@media (min-width: 768px) {
	.hero h3 {
		padding: 0 60px;
	}
}




// CONTAINERS
.page-section {
	padding-top: 20px;
	padding-bottom: 20px;
}

.about-bg-wrap, .music-bg-wrap, .shows-bg-wrap, .contact-bg-wrap {
	padding-bottom: 50px;
}



// EMBLEM 
.emblem {
	width: 65px;
	height: 65px;
	border-radius: 50%;
	border: 3px solid #fff;
	margin: 0 auto;
	display: block;
}

.emblem-nav {
	width: 65px;
	height: 65px;
	border-radius: 50%;
	border: 3px solid #fff;
	margin: 0 auto;
	display: block;
}





// ABOUT 
.about-bg-wrap {
	background-color: #fff;
}




// MUSIC
.music-bg-wrap {
	background-color: $primary-font-gray-light;
}

#music {
	.page-sub-section--title h2 {
		color: #000;
	}

	.page-sub-section--title h3 {
		padding: 0;
		margin: 0;
		-ms-transition:.5s;
		-moz-transition:.5s;
		-webkit-transition:.5s;
		transition:.5s;
		&:hover h3 {
			color: $primary-font-gray-light;
		}
	}
}

.page-sub-section--title {
	margin: 0 auto;
	padding-top: 10px;
	padding-bottom: 10px;

}

.page-sub-section--toggle-block {
	display: none;
}

.video-wrapper {
	margin-top: 10px;
	margin-bottom: 10px;
	position: relative;
    padding-bottom: 56.25%; /* proportion value to aspect ratio 16:9 (9 / 16 = 0.5625 or 56.25%) */
    margin-top: 30px;
    height: 0;
    overflow: hidden;
    iframe {
    	position: absolute;
	    top: 0; 
	    left: 0;
	    width: 100%;
	    height: 100%;
    }
}

.video-wrapper:first-of-type {
	margin-top: 0;
}

.sc-item {
	margin-top: 35px;
}

.sc-item:first-of-type {
	margin-top: 0;
}





// SHOWS
.shows-wrapper-row {
	border-bottom: 2px solid $primary-font-gray-light;
	padding-top: 10px;
	padding-bottom: 10px;
	h3, h4, p {
		padding: 0;
		margin: 0;
	}
	h3 {
		font-weight: 400;
		text-align: right;
		font-size: 18px;
		color: #000;
	}
	h4 {
		color: $primary-font-gray;
		text-align: left;
	}
	p {
		font-weight: 700;
		text-align: center;
	}
}





// CONTACT
.contact-bg-wrap {
	background-color: #000000;
	background-image: url("../images/broken-noise.png");
	background-repeat: repeat;
}

.contact-title h2 {
	color: #fff;
}

.contact-info {
	h4, h3 {
		text-align: center;
		margin: 0;
		padding-bottom: 10px;
	}
	h3 {
		color: $primary-font-gray;
		font-weight: 400;
	}
	h4 {
		color: #fff;
	}
}

.contact-icons {
	ul {
		padding-left: 0;
		text-align: center;
	}
	li {
		text-decoration: none;
		display: inline-block;
		padding: 5px;
	}
	li a {
		color: #fff;	
	}
}



