// HEADER 
.burger {
	color: #fff;
}

.hero {
	position: absolute;
    bottom: 18%;
    left: 50%;
    transform: translateX(-50%);
	h1, h3 {
		color: #fff;
		text-align: center;
	}
}




// ABOUT SECTION
.page-section {
	padding: 40px 0;
	h2 {
		padding-bottom: 10px;
	}
}