.site-bg {
  background: linear-gradient(rgba(255, 255, 255, 0), rgba(25, 157, 246, 0.14)), url(../images/mobile.jpg);
  background-size: cover;
  position: relative;
  background-repeat: none;
  top: 0;
  left: 0;
  height: 113vh;
  width: 100%;
  background-position: center top;
  transform: skewY(3deg);
  transform-origin: 100% 0; }

@media (min-width: 736px) {
  .site-bg {
    background: linear-gradient(rgba(255, 255, 255, 0), rgba(25, 157, 246, 0.14)), url(../images/desktop.jpg);
    background-size: cover;
    position: relative;
    background-repeat: none;
    top: 0;
    left: 0;
    width: 100%;
    background-position: center top; } }
a {
  -ms-transition: .5s;
  -moz-transition: .5s;
  -webkit-transition: .5s;
  transition: .5s; }

h1, h2, h3, h4, h5, p, a {
  color: #000;
  text-align: center; }

h1 {
  font-family: 'Crimson Text', serif;
  margin: 0;
  font-weight: 500;
  letter-spacing: -3px;
  line-height: 1;
  font-size: 48px; }

h2, h3 {
  font-weight: 400;
  text-align: center; }

h2 {
  font-family: 'Crimson Text', serif;
  color: #292929;
  font-size: 35px;
  font-weight: bold;
  text-transform: lowercase;
  margin-top: 0;
  margin-bottom: 0; }

h3 {
  font-family: 'Lora', serif;
  color: #CFCFCF;
  font-size: 20px; }

h4, h5, h6, p {
  font-family: 'Lora', serif; }

p {
  font-weight: 300;
  text-align: left;
  color: #7c7c7c; }

@media (min-width: 768px) {
  p {
    font-size: 16px; } }
a:hover, a:focus, a:active {
  color: #F1F3F2;
  text-decoration: none; }

.btm-pad-10px {
  padding-bottom: 10px; }

* {
  -webkit-tap-highlight-color: transparent;
  -webkit-tap-highlight-color: transparent;
  /* For some Androids */ }

.top-animate {
  background: #292929 !important;
  top: 13px !important;
  -webkit-transform: rotate(45deg);
  /* Chrome, Safari, Opera */
  transform: rotate(45deg); }

.mid-animate {
  opacity: 0; }

.bottom-animate {
  background: #292929 !important;
  top: 13px !important;
  -webkit-transform: rotate(-225deg);
  /* Chrome, Safari, Opera */
  transform: rotate(-225deg); }

.top-menu {
  top: 5px;
  width: 25px;
  height: 3px;
  border-radius: 0;
  background-color: #F9A530; }

.mid-menu {
  top: 13px;
  width: 25px;
  height: 3px;
  border-radius: 0;
  background-color: #F9A530; }

.bottom-menu {
  top: 21px;
  width: 25px;
  height: 3px;
  border-radius: 0;
  background-color: #F9A530; }

@media (min-width: 768px) {
  .top-menu {
    top: 8px;
    width: 40px;
    height: 5px; }

  .mid-menu {
    top: 20px;
    width: 40px;
    height: 5px; }

  .bottom-menu {
    top: 32px;
    width: 40px;
    height: 5px; } }
.menui {
  background: #F1F3F2;
  transition: 0.5s ease;
  transition-timing-function: cubic-bezier(0.75, 0, 0.29, 1.01);
  margin-top: 10px;
  position: absolute; }

.ham-icon {
  z-index: 999;
  position: fixed;
  display: block;
  padding: 25px;
  height: 32px;
  width: 32px;
  margin: 0px;
  top: 10px;
  right: 25px; }

@media (min-width: 768px) {
  .ham-icon {
    top: 15px;
    right: 45px;
    height: 55px;
    width: 55px; } }
@media (min-width: 769px) {
  .ham-icon {
    display: none; } }
.mobilenav {
  font-family: 'Crimson Text', serif;
  font-weight: bold;
  top: 0;
  left: 0;
  z-index: 999;
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  background: rgba(215, 215, 215, 0.9);
  opacity: 1; }

.mobilenav li {
  list-style-type: none;
  text-align: center;
  padding: 10px; }

.mobilenav li a {
  font-size: 35px;
  color: #292929;
  font-family: 'Crimson Text', serif;
  font-weight: bold;
  text-decoration: none;
  text-transform: lowercase;
  width: 100%;
  -ms-transition: .5s;
  -moz-transition: .5s;
  -webkit-transition: .5s;
  transition: .5s; }
  .mobilenav li a:hover, .mobilenav li a:active {
    color: #7c7c7c; }

.mobilenav li:first-child {
  margin-top: 15px; }

@media (min-width: 768px) {
  .mobilenav li a {
    font-size: 33px; }

  .mobilenav li {
    padding: 13px; }
    .mobilenav li:first-of-type {
      margin-top: 150px;
      margin-bottom: 20px; } }
.burger {
  color: #fff; }

.hero {
  position: absolute;
  bottom: 18%;
  left: 50%;
  transform: translateX(-50%);
  width: 100%; }
  .hero h1, .hero h3 {
    transform: skewY(-3deg);
    transform-origin: 100% 0;
    margin-top: 0; }
  .hero h1 {
    color: #fff;
    font-size: 48px;
    font-weight: 700;
    letter-spacing: 1px; }
  .hero h3 {
    color: #F1F3F2;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 1px; }

@media (min-width: 667px) {
  .hero h3 {
    font-size: 16px;
    margin-top: 5px; } }
@media (min-width: 736px) {
  .hero {
    padding-right: 25px; }
    .hero h1, .hero h3 {
      text-align: right; } }
@media (min-width: 1025px) {
  .hero {
    bottom: 16%; } }
.page-section {
  padding-top: 30px;
  padding-bottom: 30px; }

.about-bg-wrap {
  padding-bottom: 0;
  padding-top: 0; }

.music-bg-wrap {
  padding-top: 30px;
  padding-bottom: 25px; }

.contact-bg-wrap {
  padding-top: 3px;
  padding-bottom: 0; }

.shows-bg-wrap {
  padding-bottom: 30px;
  padding-top: 30px; }

@media (min-width: 769px) {
  .shows-bg-wrap {
    padding-top: 10px;
    padding-bottom: 50px; } }
.contact-bg-wrap .page-section {
  padding-top: 30px; }

.emblem {
  width: 65px;
  height: 65px;
  border-radius: 50%;
  border: 3px solid #EBEBEB;
  margin: 0 auto;
  display: block; }

.emblem-nav {
  width: 65px;
  height: 65px;
  border-radius: 50%;
  border: 3px solid #292929;
  margin: 0 auto;
  display: inline; }

@media (min-width: 768px) {
  .emblem-nav {
    width: 100px;
    height: 100px; } }
.about-bg-wrap {
  background-color: #fff; }

.about-title h2 {
  padding-bottom: 10px; }

img.seis {
  height: auto;
  width: 45px;
  padding-bottom: 5px; }
  img.seis:hover {
    transition: .8s;
    opacity: .7; }

.music-bg-wrap {
  background: #EBEBEB;
  transform: skewY(-3deg);
  transform-origin: 100% 0; }
  .music-bg-wrap .page-sub-section--title {
    transform: skewY(3deg);
    transform-origin: 100% 0; }
  .music-bg-wrap .col-xsm-12, .music-bg-wrap .col-sm-10 {
    padding-left: 0;
    padding-right: 0; }

@media (min-width: 736px) {
  .music-bg-wrap .col-xsm-12, .music-bg-wrap .col-sm-10 {
    padding-left: 15px;
    padding-right: 15px; } }
#music .page-sub-section--title .see-hear h3 {
  -ms-transition: .5s;
  -moz-transition: .5s;
  -webkit-transition: .5s;
  transition: .5s;
  padding: 0;
  margin: 0; }
#music .page-sub-section--title .see-hear {
  cursor: pointer; }
#music .page-sub-section--title .see-hear:hover h3 {
  color: #7c7c7c; }

.page-sub-section--title {
  padding-top: 10px;
  padding-bottom: 10px; }
  .page-sub-section--title ul {
    padding-left: 0; }
  .page-sub-section--title li {
    list-style: none; }

.page-sub-section--toggle-block {
  display: none; }

.video-wrapper {
  transform: skewY(3deg);
  transform-origin: 100% 0;
  position: relative;
  padding-bottom: 56.25%;
  /* proportion value to aspect ratio 16:9 (9 / 16 = 0.5625 or 56.25%) */
  margin-top: 45px;
  height: 0;
  overflow: hidden; }
  .video-wrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; }

.video-wrapper:first-of-type {
  margin-top: 0; }

.video-wrapper:last-of-type {
  margin-bottom: 20px; }

.sc-item {
  margin-top: 40px;
  transform: skewY(3deg);
  transform-origin: 100% 0; }

.sc-item:first-of-type {
  margin-top: 0; }

.shows-bg-wrap {
  background: -webkit-linear-gradient(left, #fcfcfc, rgba(175, 175, 175, 0.8)), url(../images/shows-bg.png);
  position: relative;
  background-size: cover;
  background-position: right;
  background-repeat: none;
  z-index: 1;
  border-top: 1px solid #fff;
  transform: skewY(3deg);
  transform-origin: 100% 0; }
  .shows-bg-wrap .page-section {
    transform: skewY(-3deg);
    transform-origin: 100% 0; }

.shows-text p {
  margin-top: 10px;
  color: #747474;
  text-align: center; }

.shows-outer-wrap .row {
  margin-left: 0;
  margin-right: 0; }

.shows-wrapper-row {
  padding-top: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid #b9b5b5; }
  .shows-wrapper-row:last-of-type {
    border-bottom: none; }
  .shows-wrapper-row h3, .shows-wrapper-row h4, .shows-wrapper-row p {
    padding: 0;
    margin: 0;
    text-align: center; }
  .shows-wrapper-row h3 {
    font-size: 12px; }
  .shows-wrapper-row h3, .shows-wrapper-row h4 {
    color: #7c7c7c; }
  .shows-wrapper-row p {
    color: #7c7c7c;
    padding: 7px 0; }
  .shows-wrapper-row a {
    color: #7c7c7c;
    text-align: right; }

.shows-title {
  padding-bottom: 30px; }

@media (min-width: 768px) {
  .shows-wrapper-row h4 {
    text-align: left; }

  .col-md-4 {
    text-align: right; }

  .shows-wrapper-row p {
    line-height: 0; } }
.page-section .tour-copy {
  padding-top: 10px;
  text-align: center; }
  .page-section .tour-copy a {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 15px; }
  .page-section .tour-copy a:hover {
    color: #7c7c7c; }

.press-link {
  padding-bottom: 20px; }
  .press-link h4 a {
    color: #7c7c7c;
    font-weight: bold;
    font-size: 14px; }

.contact-bg-wrap {
  border-top: 1px solid #000;
  background-color: #000000;
  background-image: url("../images/broken-noise.png");
  background-repeat: repeat;
  position: relative;
  z-index: 0;
  transform: skewY(3deg);
  transform-origin: 100% 0;
  padding-bottom: 60px; }
  .contact-bg-wrap .page-section {
    transform: skewY(-3deg);
    transform-origin: 100% 0; }

.contact-title h2 {
  color: #fff;
  padding-bottom: 20px; }

.contact-info h4, .contact-info h3 {
  text-align: center;
  margin: 0;
  padding-bottom: 13px; }
.contact-info h3 {
  color: #CFCFCF;
  font-weight: 400;
  font-size: 16px; }
.contact-info h4 {
  font-size: 14px;
  color: #fff;
  font-weight: bold; }
.contact-info a {
  color: #EBEBEB; }
  .contact-info a:hover {
    color: #7c7c7c; }
.contact-info .phone {
  padding-bottom: 5px; }

.contact-icons ul {
  padding-left: 0;
  text-align: center; }
.contact-icons li {
  text-decoration: none;
  display: inline-block;
  padding: 5px; }
.contact-icons li a {
  color: #7c7c7c;
  -ms-transition: .5s;
  -moz-transition: .5s;
  -webkit-transition: .5s;
  transition: .5s; }
  .contact-icons li a:hover {
    color: #fff; }

.lessons {
  margin-top: 20px; }
  .lessons p {
    color: #EBEBEB;
    text-align: center;
    font-size: 11px; }
  .lessons a {
    color: #7c7c7c;
    font-weight: bold; }
  .lessons a:hover {
    color: #7c7c7c; }

.watermark h5 {
  color: #7c7c7c;
  font-size: 10px; }

.footer-spacer {
  background-color: #000000;
  background-image: url("../images/broken-noise.png");
  background-repeat: repeat;
  position: relative;
  z-index: 0;
  height: 75px;
  margin-top: -75px; }

.press-body-wrap {
  background: url("../images/bg-noise-green.png"); }

.press-bg {
  background: linear-gradient(rgba(255, 255, 255, 0), rgba(25, 157, 246, 0.14)), url("../images/press-mobile.jpg");
  background-size: cover;
  position: relative;
  background-repeat: none;
  top: 0;
  left: 0;
  height: 80vh;
  width: 100%;
  background-position: center top;
  transform: skewY(3deg);
  transform-origin: 100% 0; }

@media (min-width: 769px) {
  .press-bg {
    background: linear-gradient(rgba(255, 255, 255, 0), rgba(25, 157, 246, 0.14)), url("../images/press-desktop.jpg");
    background-size: cover;
    position: relative;
    background-repeat: none;
    top: 0;
    left: 0;
    height: 65vh;
    width: 100%;
    background-position: center top;
    transform: skewY(3deg);
    transform-origin: 100% 0; } }
.press-bio h2,
.press-audio h2,
.press-photos h2,
.press-video h2,
.press-social h2,
.press-bookings h2,
.press-press h2 {
  margin-bottom: 30px;
  color: #292929; }

.press-audio-item {
  padding-bottom: 15px; }

.press-audio-item:last-of-type {
  padding-bottom: 0; }

.press-press p {
  font-weight: 400; }

.press-image-wrap {
  margin: 0 auto; }

.thumb-img {
  padding-bottom: 4px; }

.press-video h2 {
  text-align: center; }

.press-video.page-section.col-sm-12 {
  padding-left: 0;
  padding-right: 0; }

.press-video-wrapper {
  position: relative;
  padding-bottom: 56.25%;
  /* proportion value to aspect ratio 16:9 (9 / 16 = 0.5625 or 56.25%) */
  height: 0;
  overflow: hidden;
  margin-top: 20px; }
  .press-video-wrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; }

.press-bookings a, .press-bookings h4 {
  color: #7c7c7c; }
.press-bookings a:hover {
  color: #CFCFCF;
  cursor: pointer; }
.press-bookings ul {
  list-style-type: none;
  padding-left: 0; }
.press-bookings li {
  text-align: center;
  color: #7c7c7c;
  font-size: 17px; }

.contact-icons .fa-2x {
  font-size: 2.3em; }
.contact-icons .press-icons a {
  color: #7c7c7c; }
.contact-icons .press-icons a:hover {
  color: #CFCFCF; }

.press-back-border {
  border-top: 2px solid #000;
  padding-bottom: 10px; }

.press-back a {
  font-family: 'Crimson Text', serif;
  text-transform: lowercase;
  font-weight: bold;
  font-size: 14px;
  color: #000; }

.press-back a:hover {
  color: #CFCFCF; }

@media (min-width: 768px) {
  .press-back a {
    font-size: 20px; } }
.press-hero {
  position: absolute;
  bottom: 14%;
  left: 50%;
  transform: translateX(-50%);
  width: 100%; }

/*# sourceMappingURL=main.css.map */
