.site-bg {
  background: url("../images/cwm-bg.jpg");
  background-size: cover;
  position: relative;
  background-repeat: none;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  background-position: center top; }

@media (min-width: 769px) {
  .site-bg {
    background: url("../images/cwm-bg-desktop.jpg");
    background-size: cover;
    position: relative;
    background-repeat: none;
    top: 0;
    left: 0;
    height: 80vh;
    width: 100%;
    background-position: center top; } }
h1, h2, h3, h4, h5, p, a {
  font-family: 'Montserrat', sans-serif;
  color: #000;
  text-align: center; }

h1 {
  text-transform: lowercase;
  margin: 0;
  font-weight: 500;
  letter-spacing: -3px;
  line-height: 1;
  font-size: 40px; }

h2, h3 {
  font-weight: 700;
  text-align: center; }

h2 {
  letter-spacing: -2px;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 0; }

h3 {
  text-transform: lowercase;
  letter-spacing: -1px;
  color: #CFCFCF;
  font-size: 28px; }

p {
  font-family: 'Montserrat Alternates', sans-serif;
  text-align: left; }

a:hover, a:focus {
  color: #5C5758;
  text-decoration: none; }

.spacer {
  padding-bottom: 10px; }

* {
  -webkit-tap-highlight-color: transparent;
  -webkit-tap-highlight-color: transparent;
  /* For some Androids */ }

.top-animate {
  background: #fff !important;
  top: 13px !important;
  -webkit-transform: rotate(45deg);
  /* Chrome, Safari, Opera */
  transform: rotate(45deg); }

.mid-animate {
  opacity: 0; }

.bottom-animate {
  background: #fff !important;
  top: 13px !important;
  -webkit-transform: rotate(-225deg);
  /* Chrome, Safari, Opera */
  transform: rotate(-225deg); }

.top-menu {
  top: 5px;
  width: 25px;
  height: 3px;
  border-radius: 0;
  background-color: #F9A530; }

.mid-menu {
  top: 13px;
  width: 25px;
  height: 3px;
  border-radius: 0;
  background-color: #F9A530; }

.bottom-menu {
  top: 21px;
  width: 25px;
  height: 3px;
  border-radius: 0;
  background-color: #F9A530; }

@media (min-width: 768px) {
  .top-menu {
    top: 8px;
    width: 40px;
    height: 5px; }

  .mid-menu {
    top: 20px;
    width: 40px;
    height: 5px; }

  .bottom-menu {
    top: 32px;
    width: 40px;
    height: 5px; } }
.menui {
  background: #F1F3F2;
  transition: 0.5s ease;
  transition-timing-function: cubic-bezier(0.75, 0, 0.29, 1.01);
  margin-top: 10px;
  position: absolute; }

.ham-icon {
  z-index: 999;
  position: fixed;
  display: block;
  padding: 15px;
  height: 32px;
  width: 32px;
  margin: 0px;
  top: 10px;
  right: 30px; }

@media (min-width: 768px) {
  .ham-icon {
    top: 15px;
    right: 55px; } }
@media (min-width: 769px) {
  .ham-icon {
    display: none; } }
.mobilenav {
  font-family: inherit;
  top: 0;
  left: 0;
  z-index: 999;
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.85);
  opacity: 1; }

.mobilenav li {
  list-style-type: none;
  text-align: center;
  padding: 10px; }

.mobilenav li a {
  font-size: 150%;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 300;
  width: 100%; }
  .mobilenav li a:hover {
    color: #CFCFCF; }

.mobilenav li:first-child {
  margin-top: 30px; }

@media (min-width: 768px) {
  .mobilenav li a {
    font-size: 33px; }

  .mobilenav li {
    padding: 13px; }
    .mobilenav li:first-of-type {
      margin-top: 150px;
      margin-bottom: 20px; } }
.burger {
  color: #fff; }

.hero {
  position: absolute;
  bottom: 17%;
  left: 50%;
  transform: translateX(-50%);
  width: 100%; }
  .hero h1, .hero h3 {
    letter-spacing: -2px;
    text-shadow: 0px 1px 2px #000;
    margin-top: 10px; }
  .hero h1 {
    color: #CFCFCF;
    font-size: 43px; }
  .hero h3 {
    color: #F1F3F2;
    font-size: 18px;
    font-family: 'Montserrat Alternates', sans-serif;
    letter-spacing: -1px;
    font-weight: 400; }

@media (min-width: 667px) {
  .hero h1 {
    font-size: 51px; }
  .hero h3 {
    font-size: 21px;
    margin-top: 5px; } }
@media (min-width: 768px) {
  .hero h1 {
    font-size: 60px; } }
@media (min-width: 1025px) {
  .hero {
    bottom: 12%; } }
.page-section {
  padding-top: 20px;
  padding-bottom: 20px; }

.about-bg-wrap, .music-bg-wrap, .shows-bg-wrap, .contact-bg-wrap {
  padding-bottom: 30px; }

.emblem {
  width: 65px;
  height: 65px;
  border-radius: 50%;
  border: 3px solid #fff;
  margin: 0 auto;
  display: block; }

.emblem-nav {
  width: 65px;
  height: 65px;
  border-radius: 50%;
  border: 3px solid #fff;
  margin: 0 auto;
  display: inline; }

@media (min-width: 768px) {
  .emblem-nav {
    width: 100px;
    height: 100px; } }
.about-bg-wrap {
  background-color: #fff; }

.music-bg-wrap {
  background: #EBEBEB;
  position: relative;
  z-index: 1; }
  .music-bg-wrap:before, .music-bg-wrap:after {
    background: inherit;
    content: '';
    display: block;
    height: 50%;
    left: 0;
    position: absolute;
    right: 0;
    z-index: -1;
    -webkit-backface-visibility: hidden; }
  .music-bg-wrap:before {
    top: 0;
    transform: skewY(3deg);
    transform-origin: 100% 0; }
  .music-bg-wrap:after {
    bottom: 0;
    transform: skewY(-3deg);
    transform-origin: 100%; }

#music .page-sub-section--title h2 {
  color: #000; }
#music .page-sub-section--title h3 {
  padding: 0;
  margin: 0;
  -ms-transition: .5s;
  -moz-transition: .5s;
  -webkit-transition: .5s;
  transition: .5s; }
  #music .page-sub-section--title h3:hover h3 {
    color: #EBEBEB; }

.page-sub-section--title {
  margin: 0 auto;
  padding-top: 10px;
  padding-bottom: 10px; }

.page-sub-section--toggle-block {
  display: none; }

.video-wrapper {
  margin-top: 10px;
  margin-bottom: 10px;
  position: relative;
  padding-bottom: 56.25%;
  /* proportion value to aspect ratio 16:9 (9 / 16 = 0.5625 or 56.25%) */
  margin-top: 30px;
  height: 0;
  overflow: hidden; }
  .video-wrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; }

.video-wrapper:first-of-type {
  margin-top: 0; }

.sc-item {
  margin-top: 35px; }

.sc-it1qem:first-of-type {
  margin-top: 0; }

.shows-bg-wrap {
  background-color: #fff;
  position: relative;
  z-index: 0; }

.shows-outer-wrap .row {
  margin-left: 0;
  margin-right: 0; }

.shows-wrapper-row {
  padding-top: 10px;
  padding-bottom: 10px;
  border-bottom: 2px solid #EBEBEB; }
  .shows-wrapper-row h3, .shows-wrapper-row h4, .shows-wrapper-row p {
    padding: 0;
    margin: 0;
    text-align: center; }
  .shows-wrapper-row h3 {
    font-weight: 400;
    font-size: 18px;
    color: #000; }
  .shows-wrapper-row h4 {
    color: #CFCFCF; }
  .shows-wrapper-row p {
    font-weight: 700; }

@media (min-width: 768px) {
  .shows-wrapper-row h3 {
    text-align: right; }
  .shows-wrapper-row h4 {
    text-align: left; } }
.contact-bg-wrap {
  background-color: #000000;
  background-image: url("../images/broken-noise.png");
  background-repeat: repeat;
  position: relative;
  z-index: 1; }
  .contact-bg-wrap:before {
    background: inherit;
    content: '';
    display: block;
    height: 50%;
    left: 0;
    position: absolute;
    right: 0;
    z-index: -1;
    -webkit-backface-visibility: hidden; }
  .contact-bg-wrap:before {
    top: 0;
    transform: skewY(3deg);
    transform-origin: 100% 0; }

.contact-title h2 {
  color: #fff;
  padding-bottom: 10px; }

.contact-info h4, .contact-info h3 {
  text-align: center;
  margin: 0;
  padding-bottom: 10px; }
.contact-info h3 {
  color: #CFCFCF;
  font-weight: 400; }
.contact-info h4 {
  color: #fff; }
.contact-info a {
  color: #EBEBEB; }

.contact-icons ul {
  padding-left: 0;
  text-align: center; }
.contact-icons li {
  text-decoration: none;
  display: inline-block;
  padding: 5px; }
.contact-icons li a {
  color: #fff; }

/*# sourceMappingURL=main.css.map */
