.press-bg {	    
	background: 
    /* top, transparent red, faked with gradient */ 
    linear-gradient(rgba(237, 242, 172, 0.25), 
    rgba(0, 224, 205, 0.35)),  
    /* bottom image bg */
    url("../images/cwm-bg.jpg");
    background-size: cover;
    position: relative;
    background-repeat: none;
    top: 0;
    left: 0;
    height: 66vh;
    width: 100%;
    background-position: center top;
    transform: skewY(3deg);
	transform-origin: 100% 0;
}

@media (min-width: 769px) {
	.press-bg {
		background: 
	    /* top, transparent red, faked with gradient */ 
	    linear-gradient(rgba(237, 242, 172, 0.25), 
	    rgba(0, 224, 205, 0.35)),  
	    /* bottom image bg */
		url('../images/cwm-bg-desktop.jpg');
		background-size: cover;
	    position: relative;
	    background-repeat: none;
	    top: 0;
	    left: 0;
	    height: 66vh;
	    width: 100%;
	    background-position: center top;
	    transform: skewY(3deg);
		transform-origin: 100% 0;
	}
}