.press-body-wrap {
	background: url('../images/bg-noise-green.png');
}

.press-bg {	    
	background: 
    /* top, transparent red, faked with gradient */ 
    linear-gradient(rgba(237, 242, 172, 0.25), 
    rgba(0, 224, 205, 0.35)),  
    /* bottom image bg */
    url('../images/vintage-rock-fade.jpg');
    background-size: cover;
    position: relative;
    background-repeat: none;
    top: 0;
    left: 0;
    height: 80vh;
    width: 100%;
    background-position: center top;
    transform: skewY(3deg);
	transform-origin: 100% 0;
}

@media (min-width: 769px) {
	.press-bg {
		background: 
	    /* top, transparent red, faked with gradient */ 
	    linear-gradient(rgba(237, 242, 172, 0.25), 
	    rgba(0, 224, 205, 0.35)),  
	    /* bottom image bg */
		url('../images/vintage-rock-fade-desktop.jpg');
		background-size: cover;
	    position: relative;
	    background-repeat: none;
	    top: 0;
	    left: 0;
	    height: 65vh;
	    width: 100%;
	    background-position: center top;
	    transform: skewY(3deg);
		transform-origin: 100% 0;
	}
}

.press-bio, 
.press-audio,
.press-photos, 
.press-video, 
.press-social, 
.press-bookings, 
.press-press {
	h2 {
		margin-bottom: 10px;
		color: $dark-seafoam;
	}
}




.press-audio-item {
	padding-bottom: 15px;
}

.press-audio-item:last-of-type {
	padding-bottom: 0;
}



.press-press p {
	font-weight: 400;
}

.press-image-wrap {
	margin: 0 auto;
}

.thumb-img {
	padding-bottom: 4px;
}
	
.press-video {
	h2 {
		text-align: center;
	}
}

.press-video.page-section.col-sm-12 {
	padding-left: 0;
	padding-right: 0;
}

.press-video-wrapper {
	position: relative;
    padding-bottom: 56.25%; /* proportion value to aspect ratio 16:9 (9 / 16 = 0.5625 or 56.25%) */
    height: 0;
    overflow: hidden;
    margin-top: 20px;
    iframe {
    	position: absolute;
	    top: 0; 
	    left: 0;
	    width: 100%;
	    height: 100%;
    }
}

.press-bookings {
	a {
		text-transform: uppercase;
		font-weight: bold;
		color: $primary-font-gray-dark;
	}
	a:hover {
		color: $primary-font-gray;
		cursor: pointer;
	}
	ul {
		list-style-type: none;
		padding-left: 0;
	}
	li {	
		font-family: 'Montserrat Alternates', sans-serif;
		text-align: center;	
		color: $primary-font-gray-dark;
		font-size: 17px;
	}
}

.contact-icons {
	.fa-2x {
		font-size: 2.3em;
	}
	.press-icons a {
		color: $black;
	}	
	.press-icons a:hover {
		color: $primary-font-gray;
	}
}

.press-back-border {
	border-top: 2px solid $dark-seafoam;
	padding-bottom: 10px;
}

.press-back a {
	text-transform: uppercase;
	font-size: 14px;
	font-weight: 700;
}

@media (min-width: 768px) {
	.press-back a {
		font-size: 20px;
	}
}

