.press-body-wrap {
	background: url('../images/bg-noise-green.png');
}

.press-bg {	    
	background: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.14)), url('../images/press-mobile.jpg');
    background-size: cover;
    position: relative;
    background-repeat: none;
    top: 0;
    left: 0;
    height: 80vh;
    width: 100%;
    background-position: center top;
    transform: skewY(3deg);
	transform-origin: 100% 0;
}

@media (min-width: 769px) {
	.press-bg {
		background: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.14)), url('../images/press-desktop.jpg');
		background-size: cover;
	    position: relative;
	    background-repeat: none;
	    top: 0;
	    left: 0;
	    height: 65vh;
	    width: 100%;
	    background-position: center top;
	    transform: skewY(3deg);
		transform-origin: 100% 0;
	}
}

.press-bio, 
.press-audio,
.press-photos, 
.press-video, 
.press-social, 
.press-bookings, 
.press-press {
	h2 {
		margin-bottom: 30px;
		color: $primary-font-gray-dark;
	}
}




.press-audio-item {
	padding-bottom: 15px;
}

.press-audio-item:last-of-type {
	padding-bottom: 0;
}



.press-press p {
	font-weight: 400;
}

.press-image-wrap {
	margin: 0 auto;
}

.thumb-img {
	padding-bottom: 4px;
}
	
.press-video {
	h2 {
		text-align: center;
	}
}

.press-video.page-section.col-sm-12 {
	padding-left: 0;
	padding-right: 0;
}

.press-video-wrapper {
	position: relative;
    padding-bottom: 56.25%; /* proportion value to aspect ratio 16:9 (9 / 16 = 0.5625 or 56.25%) */
    height: 0;
    overflow: hidden;
    margin-top: 20px;
    iframe {
    	position: absolute;
	    top: 0; 
	    left: 0;
	    width: 100%;
	    height: 100%;
    }
}

.press-bookings {
	a, h4 {
		color: $primary-font-gray-dark;
	}
	a:hover {
		color: $primary-font-gray;
		cursor: pointer;
	}
	ul {
		list-style-type: none;
		padding-left: 0;
	}
	li {	
		text-align: center;	
		color: $primary-font-gray-dark;
		font-size: 17px;
	}
}

.contact-icons {
	.fa-2x {
		font-size: 2.3em;
	}
	.press-icons a {
		color: $primary-font-gray-dark;
	}	
	.press-icons a:hover {
		color: $primary-font-gray;
	}
}

.press-back-border {
	border-top: 2px solid $black;
	padding-bottom: 10px;
}

.press-back a {
	font-family: 'Crimson Text', serif;
	text-transform: lowercase;
	font-weight: bold;
	font-size: 14px;
	color: $black;
}

.press-back a:hover {
	color: $primary-font-gray;
}

@media (min-width: 768px) {
	.press-back a {
		font-size: 20px;
	}
}

.press-hero {
	position: absolute;
    bottom: 14%;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
}